{% extends 'products/header.html' %}
{% block title %} Sign Up  {% endblock %}


{% block content %}
{% load widget_tweaks %}

<div class="panel panel-primary" style="margin-top: 20px">


<div class="panel panel-heading">

<h3 class="panel-title"> 
New User Registration 
</h3>

</div>

<div class="panel panel-body">  



<div class="panel panel-default">

<div class="panel panel-heading">
    <h3>Fill in the Parameters to Register</h3>
</div>

<div class="panel panel-body">
    

<form action="{% url 'signup' %}" method="POST">

    {% csrf_token %}

   {% for field in form %}

  <div class="form-group">

        <div class="col-md-6">
            <label> {{ field.label_tag }} </label>
            {% render_field field class="form-control" %}
		    

		  
  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}


        </div>

  </div>

{% endfor %}

    <div class="col-md-12">
    <br>
    <hr>
    <input type="submit" class="btn btn-block btn-primary" value="Sign Up" />
    </div>
   

</form>

</div>


</div>

</div>
    
</div>

    
{% endblock %}